.page-section {
  gap: 10rem;
  margin-bottom: 5rem;
  @include extra-large {
    display: block;
    text-align: center;
    margin: 4rem auto;
    margin-bottom: 10rem;
    max-width: 95%;
    width: 100%;
  }

  .wp-block-media-text__content {
    h2 {
      font-size: 4.8rem;
      margin-bottom: 4rem;
      position: relative;
      &::after {
        display: block;
        content: "";
        width: 26.7rem;
        height: 3.7rem;
        background: url(../img/podkreslenie.png) no-repeat center;
        background-size: cover;
        position: absolute;
        bottom: -1rem;
        left: 0;
        z-index: -1;
        @include extra-large {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    p {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.6;
      position: relative;
      max-width: 40rem;
      width: 100%;
      @include extra-large {
        margin: 0 auto;
      }
      &::before {
        display: block;
        content: "";
        width: 51rem;
        height: 22.1rem;
        background: url(../img/tlo.png) no-repeat center;
        background-size: contain;
        position: absolute;
        top: -3rem;
        left: -3rem;
        z-index: -1;
        @include small {
          left: -7rem;
        }
      }
    }
  }

  .wp-block-media-text__media {
    @include extra-large {
      max-width: 50rem;
      margin: 2rem auto;
    }
  }
}
